<div id="mp-popup-template2" style="background-image: url({{bg_tmp2}})">
    <span class="mp-popup-title-tmp2">Subscribe To Our Newsletter</span>
    <span class="mp-popup-text-content-tmp2">Subscribe to our email newsletter today to receive updates on the latest news, tutorials and special offers!</span>
    <form class="form subscribe mp-newsletter-validate-detail-template2" novalidate action="{{form_url}}" method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="mp-newsletter-validate-detail">
        <input name="email" type="email" id="mp-newsletter" class="mp-newsletter-template2"
               placeholder="Enter your email address"
               data-validate="{required:true, 'validate-email':true}"/>
        <div class="popup-btn-subscribe-template2">
            <button class="actions subscribe primary btn-subscribe-template2" title="Subscribe!" type="submit">
                Subscribe Now
            </button>
        </div>
        <div class="popup-loader loader-template1">
            <img class="loader" src="{{url_loader}}" alt="Loading...">
        </div>
    </form>
    <p class="spam-note-tmp2">We respect your privacy. Your information is safe and will never be shared.</p>
</div>