<div id="mp-popup-template2" style="background-image: url({{bg_tmp2}})">
    <span class="mp-popup-title-tmp2">Wait</span>
    <span class="mp-popup-text-content-tmp2"> Register now and we'll email you a weekly taste of guides and updates on your favourite topic.</span>
    <form class="form subscribe mp-newsletter-validate-detail-template2" novalidate action= "{{form_url}}" method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="mp-newsletter-validate-detail">
        <input name="email" type="email" id="mp-newsletter" class="mp-newsletter-template2"
               placeholder="Enter your email address"
               data-validate="{required:true, 'validate-email':true}"/>
        <div class="popup-btn-subscribe-template2">
            <button class="actions subscribe primary btn-subscribe-template2" title="Subscribe!" type="submit">
                Send Me the Coupon
            </button>
        </div>
        <div class="popup-loader loader-template1">
            <img class="loader" src="{{url_loader}}" alt="Loading...">
        </div>
    </form>
    <p class="spam-note-tmp2">(We hate spam. You can unsubscribe anytime)</p>
</div>