<div id="mp-popup-default-template">
    <span class="mp-popup-title-df">Subscribe To Our Newsletter</span>
    <div class="mp-popup-text-content-df">
        <span>Subscribe to our email newsletter today to receive updates on the latest news, tutorials and special offers!</span>
    </div>
    <form class="form subscribe  mp-newsletter-validate-detail-df" novalidate action="{{form_url}}" method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="mp-newsletter-validate-detail">
        <input name="email" type="email" id="mp-newsletter" class="better-popup-input-email"
               placeholder="Enter your email address"
               data-validate="{required:true, 'validate-email':true}"/>

        <button class="action subscribe primary better-popup-btn-submit" title="Send me my coupon" type="submit">
            <span class="success-lable">Subscribe Now</span>
        </button>
        <div class="popup-loader">
            <img class="loader" src="{{url_loader}}" alt="Loading...">
        </div>
    </form>
    <p class="spam-note-df">We respect your privacy. Your information is safe and will never be shared.</p>
</div>