<span class="lable-hold-on">HOLD ON!</span>
<span class="child-label">Get <b>10%</b> off immediately</span>
<form class="form subscribe"
      novalidate
      action="{{form_url}}"
      method="post"
      data-mage-init='{"validation": {"errorClass": "mage-error"}}'
      id="mp-newsletter-validate-detail">
    <div class="field newsletter">
        <div class="control">
            <input name="email" type="email" id="mp-newsletter" class="better-popup-input-email"
                   placeholder="Enter your email address"
                   data-validate="{required:true, 'validate-email':true}"/>
        </div>
    </div>
    <div class="actions">
        <button class="action subscribe primary better-popup-btn-submit" title="Send me my coupon" type="submit">
            <span class="success-lable">Send me my coupon</span>
        </button>
        <div class="popup-loader">
            <img class="loader" src="{{url_loader}}" alt="Loading...">
        </div>
    </div>
</form>